/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
ol.gradient-list > li::before, ol.gradient-list > li {
	box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
	box-sizing: border-box;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: "Raleway", monospace;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	background-color: #F1F3F6;
	color: #34495E;
	overflow: hidden;
	overflow-y: scroll;
}

header, nav, section, footer {
	padding: 2px calc((100% - 800px) / 2) 0;
}

section {
	margin-top: 54px;
	margin-bottom: 54px;
	min-height: calc(100vh - 345px);
	overflow: auto;
}

h1 a:hover {
	text-decoration: none;
	color: #34495E;
}

a {
	color: #62CB31;
	text-decoration: none;
}

a:hover {
	color: #4EB722;
	text-decoration: underline;
}

header {
	background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
	background-size: 100% 6px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #E4E5E7;
	overflow: auto;
	padding-top: 33px;
	padding-bottom: 27px;
	text-align: center;
}

header a {
	color: #34495E;
	text-decoration: none;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	text-align: center;
	background-color: #F1F3F6;
	color: #34495E;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
	/* Footer height */;
}

main {
	display: block;
	margin: 0 auto;
	max-width: 40rem;
	flex: 1;
}

ol.gradient-list {
	counter-reset: gradient-counter;
	list-style: none;
	margin-top: 1.15rem;
	padding-left: 1rem;
}

ol.gradient-list > li {
	background: white;
	border-radius: 0 0.5rem 0.5rem 0.5rem;
	counter-increment: gradient-counter;
	margin-top: 1rem;
	min-height: 3rem;
	padding: 1rem 1rem 1rem 3rem;
	position: relative;
}

ol.gradient-list > li::before, ol.gradient-list > li::after {
	background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
	border-radius: 1rem 1rem 0 1rem;
	content: "";
	height: 3rem;
	left: -1rem;
	overflow: hidden;
	position: absolute;
	top: -1rem;
	width: 3rem;
}

ol.gradient-list > li::before {
	align-items: flex-end;
	content: counter(gradient-counter);
	color: #1d1f20;
	display: flex;
	font: 900 1.5em/1 "Montserrat";
	justify-content: flex-end;
	padding: 0.125em 0.25em;
	z-index: 1;
}

ol.gradient-list > li:nth-child(10n+1):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}

ol.gradient-list > li:nth-child(10n+2):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}

ol.gradient-list > li:nth-child(10n+3):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}

ol.gradient-list > li:nth-child(10n+4):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}

ol.gradient-list > li:nth-child(10n+5):before {
	background: linear-gradient(135deg, #a2ed56 0%, #fddc32 100%);
}

ol.gradient-list > li:nth-child(10n+6):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}

ol.gradient-list > li:nth-child(10n+7):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}

ol.gradient-list > li:nth-child(10n+8):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}

ol.gradient-list > li:nth-child(10n+9):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}

ol.gradient-list > li:nth-child(10n+10):before {
	background: linear-gradient(135deg, rgba(162, 237, 86, 0) 0%, rgba(253, 220, 50, 0) 100%);
}

ol.gradient-list > li + li {
	margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
